.AlarmList {
  input[type="checkbox"] {
    position: absolute;
    margin-top: 10px;

    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
  }
  .alarm_item {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-left: 25px;
    .alarmlist_img {
      position: absolute;
      margin-top: 2.5px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    .readcheck {
      color: rgb(204, 203, 203);
    }
    p {
      margin-left: 50px;
      display: inline;
    }
    .aaa {
      margin-left: 50px;
      margin-top: 3px;
    }
    .bbb {
      margin-top: 7px;
    }
    .send_btn {
      z-index: 5;
      position: absolute;
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background: #f9f4e6;
      color: #365367;
      font-weight: bolder;
      font-size: 15px;
      margin-top: 3px;
      padding-top: 5px;
      padding-right: 2.5px;
      padding-left: 2.5px;
    }
  }
}

@media screen and (max-width: 767px) {
  .AlarmList {
    .send_btn {
      right: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .AlarmList {
    margin: 0 auto;
    max-width: 768px;

    .send_btn {
      
      right: calc(50% - 380px);
    }
  }
}
@media screen and (min-width: 960px) {
  .AlarmList {
    margin: 0 auto;
    max-width: 960px;

    .send_btn {
      right: calc(50% - 480px);
    }
  }
}
