@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.AlarmModal {
  * {
    font-family: "NanumSquareRound";
  }
  .Modal-overlay {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
  }
  .Modal {
    z-index: 3001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    & > * {
      &:first-child {
        margin-top: 16px;
      }
      margin-left: 16px;
      margin-right: 16px;
    }
    p.title {
      display: inline-block;
      font-size: 16pt;
      font-weight: bold;
      color: #333;
      font-family: "yg-jalnan";
      width: 115px;
      margin-bottom: 0;
    }
    p.recieveUser {
      padding: 8px;
      padding-left: 0px;
      font-size: 12pt;
      color: #999;
    }
    .content {
      border-top: 1px solid #bebebe;
      margin-top: 10px;
      input {
        width: calc(100% - 10px);
        border: none;
        background: rgba(232, 240, 254, 1);
        padding: 5px;
        font-size: 16px;
        margin-top: 12px;
      }
      textarea {
        resize: none;
        margin-top: 10px;
        width: 100%;
        border: none;
      }
    }

    .button-wrap {
      margin: 0;
      margin-top: 8px;
      button {
        width: 50%;
        padding: 12px 0;
        background-color: #365367;
        font-size: 13pt;
        color: white;
        border: 0;
        cursor: pointer;
        &:hover {
          background-color: #f494ab;
        }
        &:active {
          background-color: #f494ab;
        }
      }
      .btn_send {
        border-radius: 0 0 0 10px;
      }
      .btn_cancel {
        border-radius: 0 0 10px 0;
      }
    }
  }

  @media screen and (min-width: 960px) {
    .Modal {
      width: 700px;
    }
  }

  @media screen and (max-width: 767px) {
    .Modal {
      p.recieveUser {
        margin-left: 20px;
      }
      textarea {
        height: 180px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .Modal {
      p.recieveUser {
        display: inline;
      }
      .content {
        margin-top: 16px;
      }
      textarea {
        height: 305px;
      }
    }
  }
}
