@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.PreAlarm {
  .prealarm_div {
    font-family: "NanumSquareRound";
    font-size: medium;
    width: calc(238px);
    height: 45px;
    background: #4242421a;
    border-radius: 4px;
    margin-left: 0px;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    .prealarm_img {
      position: absolute;
      margin-top: 2.5px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }

    .p1 {
      position: absolute;
      margin-left: 55px;
      color: rgb(71, 71, 71);
    }

    .p2 {
      position: absolute;
      //right: calc(6% + 10px);
      margin-left: 200px;
      font-size: 13px;
      color: rgb(95, 95, 95);
    }

    .paaa2 {
      position: absolute;
      font-size: 15px;
      //width: 65%;
      width: calc(185px);
      height: 20px;
      margin-left: 55px;
      margin-top: 25px;
      color: rgb(102, 102, 102);

      //글자 잘린 부분 ...으로 표시
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

