.PreAlarmList {
  .prealarm_num {
    position: absolute;
    text-align: left;
    left: 5%;
  }

  .prealarm_plus {
    color: #365367;
    position: absolute;
    text-align: right;
    right: 5%;
    margin-top: 2px;
    cursor: pointer;
  }

  .prealarm_bundle {
    margin-top: 40px;
    margin-left: 14px;
  }
  .no_item {
    text-align: center;
    width: calc(100% - 25px);
    position: absolute;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #4242421a;
    border-radius: 3px;
  }
}
