@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.Alarm {
  min-height: 70vh;
  font-family: "NanumSquareRound";
  margin-top: 10px;

  .alarm_haeder {
    margin-bottom: 5px;

    select {
      font-family: "NanumSquareRound";
      position: absolute;
      width: 100px;
      height: 30px;
      cursor: pointer;
    }
    .alarm_text {
      position: absolute;
      width: 100px;
      left: calc(50% - 50px);
      font-size: 20px;
      font-weight: bolder;
      color: #365367;
    }
  }

  .total_num{
    display: inline-block;
    margin-bottom: 0px;
  }

  .alarm_check {
    margin-bottom: 7px;

    .checkbox {
      position: absolute;
      margin-top: 5px;
      width: 15px;
      height: 15px;
      background: white;
      cursor: pointer;
    }
    .alarm_readall, .alarm_deleteall {
      position: absolute;
      margin-left: 25px;
      background: #365367;
      color: white;
      vertical-align: center;
      padding-top: 3px;
      padding-right: 5px;
      padding-left: 5px;
      height: 20px;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
    }

    .alarm_readall{
      margin-left: 68px;
      padding-top: 0px;
      height: 23px;
    }

    select {
      font-family: "NanumSquareRound";
      position: absolute;
      width: 100px;
      height: 24px;
      right: 10px;
      cursor: pointer;
    }

    button{
      width:100px;
    }
  }

  .page_btn{
    position: absolute;
    border-radius: 10px;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background: #365367;
    padding-top: 8px;
    text-align: center;
    font-weight: bolder;
    color: #f9f4e6;
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .Alarm {
    margin-left: 10px;
    margin-right: 10px;

    .alarm_haeder {
      //margin-bottom: 40px;
      height: 32px;
      // .alarm_send {
      //   right: 10px;
      // }
    }

    .plus_btn{
      right: 10px;
    }
    .minus_btn{
      left: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .Alarm {
    margin: 0 auto;
    max-width: 768px;

    .alarm_haeder {
      padding-top: 10px;
      width: 100%;
      height: 40px;
      background: #facdd9;
      margin-top: 15px;

      select {
        margin-left: 10px;
      }
      .alarm_text {
        color: white;
        text-shadow: 2px 2px 2px gray;
      }
    }

    .alarm_check{
      select{
      right: calc(50% - 383px);
      }
    }

    .plus_btn{
      right: calc(50% - 385px);
    }
    .minus_btn{
      left: calc(50% - 385px);
    }
  }
}
@media screen and (min-width: 960px) {
  .Alarm {
    margin: 0 auto;
    max-width: 960px;

    .alarm_haeder {
      padding-top: 10px;
      width: 100%;
      height: 40px;
      background: #facdd9;
      margin-top: 15px;

      select {
        margin-left: 10px;
      }
      .alarm_text {
        color: white;
        text-shadow: 2px 2px 2px gray;
      }
    }

    .alarm_check{
      select{
      right: calc(50% - 480px);
      }
    }

    .plus_btn{
      right: calc(50% - 480px);
    }
    .minus_btn{
      left: calc(50% - 480px);
    }
  }
}
