@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.DetailAlarm {
  * {
    font-family: "NanumSquareRound";
  }

  min-height: 63vh;

  .btn{
    text-align: center;
  }

  .mail_line{
    margin-top: 20px;
    border: none;
    background: rgba(0, 0, 0, 0.384);
    width: 100%;
  }

  .display {
    height: 85px;
    width: 100%;
    position: relative;
  }
  .alarm_people {
    position: absolute;
    font-size: 15px;
    margin-top: 5px;
  }
  .rec_pos1 {
    margin-top: 55px;
  }
  .rec_pos2 {
    margin-top: 50px;
  }

  .background {
    position: absolute;
    font-size: 15px;
    width: 180px;
    height: 25px;
    background: #facdd9a6;
    border-radius: 4px;
    margin-left: 70px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .alarm_content {
    word-wrap: break-word;
    white-space: pre-line;
    min-height: 25vh;
  }

  .title{
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  .detailalarm_btn {
    z-index: 5;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background: #365367;
    color: #f9f4e6;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 3px;
    padding-top: 10px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    cursor: pointer;
  }

  .pos_left {
    margin-left: 20px;
  }

  .trade_div {
    font-family: "NanumSquareRound";
    font-size: medium;
    width: calc(280px);
    height: 45px;
    background: #4242421a;
    border-radius: 4px;
    text-align: left;
    padding: 10px;
    cursor: pointer;

    .trade_img {
      position: absolute;
      margin-top: 2.5px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }

    .mainTitle {
      position: absolute;
      margin-left: 55px;
      color: rgb(71, 71, 71);
      width: calc(230px);

      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subTitle {
      position: absolute;
      font-size: 15px;
      //width: 65%;
      width: calc(230px);
      height: 20px;
      margin-left: 55px;
      margin-top: 25px;
      color: rgb(102, 102, 102);

      //글자 잘린 부분 ...으로 표시
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (max-width: 767px) {
  .DetailAlarm {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

    .mail_line{
      height:0.8px;
    }

    .detailalarm_btn {
      width: 35%;
    }
    .pos_left {
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .DetailAlarm {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 15px;

    .mail_line{
      height:1px;
    }

  }
}

@media screen and (min-width: 960px) {
  .DetailAlarm {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 15px;

    .mail_line{
      height:1px;
    }
  }
}
