@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'locus_sangsang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

.join, .join-detail {
    
    width: 80%;
    text-align: center;

    .join-dg{
        color: #f494ab;
    }

    .nope {
        display: none;
    }

    .btn-joinpage {
        width: 150px;
        background-color: #f494ab;
    }

    form {
        width: 100%;
    }

    h1 {
        color: #365367;
        font-size: 70px;
        font-family: "yg-jalnan";
        margin: 0 0 10px 0;
    }

    h2 {
        color: #444444;
        font-family: "yg-jalnan";
        margin: 0 auto;
    }

    h3 {
        color: #6b6b6b;
        font-family: 'NanumSquareRound';
        margin: 0 auto;
    }

    span {
        color: #ffbaa2;
        font-family: "yg-jalnan";
    }

    p{
        font-family: "NanumSquareRound";
        color: #ee5d5d;
        margin: 5px auto;
    }

    select {
        font-family: "NanumSquareRound";  /* 폰트 상속 */
        // background-color: #4242421a;
        background: #4242421a url('https://image.flaticon.com/icons/svg/32/32195.svg') no-repeat 95% 50%/8%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
        // background-size: length($list: 20px);
        border: 0;
        border-radius: 4px; /* iOS 둥근모서리 제거 */
        -webkit-appearance: none; /* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
        color: rgb(71, 71, 71);
    }

    @media screen and (max-width: 767px) {
        margin: 100px auto;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            font-family: 'NanumSquareRound';
            /* color: white; */
            font-size: medium;
            height: auto;
            width: 90%;
            color: rgb(71, 71, 71);
            line-height: normal;
            padding: 0.7em 1em;
            margin-bottom: 10px;
            background-color: #4242421a;
            border-radius: 4px;
            border: none;
        }

        button {
            font-family: 'NanumSquareRound';
            border: none;
            border-radius: 4px;
            height: 45px;
            width: calc(50% - 10px);
            // width: 46%;
            padding: 0.5em 0.5em;
            margin: 20px 5px;
            font-size: medium;
            background-color: #f494ab;
            color: white;
        }

        .btn-joinpage {
            width: 97%;
            background-color: #f494ab;
        }

        select{
            width: 99%;
            padding: 0.7em 1em;
            font-size: medium;

        }
    }

    @media screen and (min-width: 768px) {
        margin: 130px auto;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            font-family: 'NanumSquareRound';
            /* color: white; */
            font-size: medium;
            height: auto;
            width: 40%;
            color: rgb(71, 71, 71);
            line-height: normal;
            padding: 0.7em 1em;
            margin-bottom: 10px;
            background-color: #4242421a;
            border-radius: 4px;
            border: none;
        }

        button {
            font-family: 'NanumSquareRound';
            border: none;
            border-radius: 4px;
            height: 40px;
            width: 21%;
            padding: 0.5em 0.5em;
            margin: 20px 5px;
            font-size: medium;
            background-color: #f494ab;
            color: white;
        }

        .btn-joinpage {
            width: 150px;
            background-color: #f494ab;
        }

        select{
            padding: 0.7em 1em;
            width: 43%;
            font-size: medium;
        }
    }

    
}
