.nope{
    display: none;
}

.join {
    margin: 130px auto;
    text-align: center;
}

.join-detail {
    margin: 130px auto;
    text-align: center;
}

.btn-joinpage {
    width: 150px;
    background-color: #f494ab;
}