@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

.big{
    width: 100%;
    height: 100%;
    background-color: #f9f4e6;
    position: fixed;
}

.login{
    width: 80%;
    text-align: center;

    p{
        font-family: 'GmarketSansMedium';
    }
    
    form{
        width: 100%;
    }
    
    h1{
        color: #365367;
        font-size: 66px;
        font-family: 'yg-jalnan';
        margin: 0 0 10px 0;
    }
    
    h2{
        color: #444444;
        font-family: 'NanumSquareRound';
        margin: 0 auto;
    }
    
    h3{
        color: #6b6b6b;
        font-family: 'yg-jalnan';
        margin: 0 auto;
    }
    
    span {
        color: #ffbaa2;
        font-family: 'yg-jalnan';
    }

    @media screen and (max-width: 767px) {
        margin: 130px auto;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            font-family: 'NanumSquareRound';
            /* color: white; */
            font-size: medium;
            height: auto;
            width: 90%;
            color: rgb(71, 71, 71);
            line-height: normal;
            padding: 0.7em 1em;
            margin-bottom: 10px;
            background-color: #4242421a;
            border-radius: 4px;
            border: none;
        }
    
        button {
            font-family: 'NanumSquareRound';
            border: none;
            border-radius: 4px;
            height: auto;
            width: calc(50% - 10px);
            // width: 46%;
            padding: .5em .5em;
            margin: 20px 5px;
            font-size: medium;
            background-color: #f494ab;
            color: white;
        }
    }
    
    @media screen and (min-width: 768px){
        margin: 170px auto;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            font-family: 'NanumSquareRound';
            /* color: white; */
            font-size: medium;
            height: auto;
            width: 40%;
            color: rgb(71, 71, 71);
            line-height: normal;
            padding: 0.7em 1em;
            margin-bottom: 10px;
            background-color: #4242421a;
            border-radius: 4px;
            border: none;
        }
    
        button {
            font-family: 'NanumSquareRound';
            border: none;
            border-radius: 4px;
            height: auto;
            width: 21%;
            padding: .5em .5em;
            margin: 20px 5px;
            font-size: medium;
            background-color: #f494ab;
            color: white;
        }
    }
    
    .btn-login{
        font-family: 'NanumSquareRound';
        background-color: #f494ab;
        color: white;
        // margin-right: 5px;
    }
    
    .btn-join{
        font-family: 'NanumSquareRound';
        background-color: #365367;
        color: white;
        // margin-left: 5px;
    }
    
    input::placeholder {
        font-family: 'NanumSquareRound';
        color:#365367;
    }
    
    :focus{
        outline: none;
    }
}
