@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
  font-family: "moonspam", sans-serif;
  word-break: keep-all;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .Main {
    margin: 10px;

    .div_carousel {
      .div_ganji {
        height: 180px;
        text-align: center;

        .ganji {
          width: 100%;
          height: 100%;
          object-fit: fill;
          vertical-align: -30%;
          -webkit-user-drag: none;
          background: black;
        }
      }
    }

    .famous {
      width: 100%;
      margin-top: 10px;
      .famous_bundle {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        .div_famous {
          width: 18%;
          height: 100%;
          background: #ffbaa2;
          display: inline-block;
        }
      }
    }
  }
}

// https://nuli.navercorp.com/sharing/blog/post/1132728

@media screen and (min-width: 768px) {
  .Main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    //text-align: center;

    .div_carousel {
      margin: 10px 0px 10px 0px;

      .div_ganji {
        height: 250px;
        text-align: center;

        .ganji {
          width: 100%;
          height: 100%;
          object-fit: fill;
          vertical-align: -30%;
          -webkit-user-drag: none;
          background: black;
        }
      }
    }

    .famous {
      width: 100%;
      margin-bottom: 10px;
      .famous_bundle {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .div_famous {
          width: 18%;
          height: 50px;
          background: #ffbaa2;
          display: inline-block;
        }
      }
    }
  }
}
