@charset "UTF-8";
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.Main{
  margin-top: 0;
  .famous_text {
    font-family: "yg-jalnan";
  }
  .famous {
    margin-top: 30px;
    margin-bottom: 10px;
    .famous_bundle {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
  }
}

@media screen and (max-width: 767px) {
  .Main {
    .famous_text {
      text-align: center;
    }
    .famous {
      margin-left: 10px;
      margin-right: 10px;
      .famous_bundle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px)  {
  .Main {
    margin: 0 auto;
    max-width: 768px;

    .divMain{
      width: 100%;
    }
    .famous {
      width: 100%;
    }
  }
}
@media screen and (min-width: 960px) {
  .Main {
    margin: 0 auto;
    max-width: 960px;

    .divMain{ 
      width: 100%;  
    }

    .famous {
      width: 100%;
    }
  }
}
