@charset "UTF-8";
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .Main {
    display: block;

    //
    .famous_text {text-align: center;
      font-family: "yg-jalnan";
    }

    .famous {
      margin: 10px;
      margin-top: 30px;

      .famous_bundle {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px)  {
  .Main {
    //width: 100%;
    //width: 100%;
    margin: 0 auto;
    max-width: 768px;
    margin-top: 0;

    .divMain{
      width: 100%;
    }
    .famous_text {
      font-family: "yg-jalnan";
    }

    .famous {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 30px;
      .famous_bundle {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .Main {
    //width: 100%;
    //width: 100%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 0;

    .divMain{
      
      //margin: 0 auto;
      
      width: 100%;
      
    }
    .famous_text {
      font-family: "yg-jalnan";
    }

    .famous {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 30px;
      .famous_bundle {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
    }
  }
}
