@charset "UTF-8";
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

<<<<<<< HEAD
body {
  font-family: "yg-jalnan";
  //word-break: keep-all;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .Main {
    //margin: 10px;
    //margin-top: 65px;
=======
@media screen and (max-width: 767px) {
  .Main {
>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
    display: block;
    //
    .famous_text {
      text-align: center;
      font-family: "yg-jalnan";
    }
    .famous {
      margin: 10px;
      margin-top: 30px;
      .famous_bundle {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
<<<<<<< HEAD
        //align-content: space-between;
=======
>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
        justify-content: space-evenly;
      }
    }
  }
}
<<<<<<< HEAD
@media screen and (min-width: 768px) and (max-width: 959px) {
=======

@media screen and (min-width: 768px) and (max-width: 959px)  {
>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
  .Main {
    //width: 100%;
    //width: 100%;
    margin: 0 auto;
    max-width: 768px;
    margin-top: 0;
<<<<<<< HEAD
    .divMain {
=======

    .divMain{
>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
      width: 100%;
    }
    .famous_text {
      font-family: "yg-jalnan";
    }
<<<<<<< HEAD
=======

>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
    .famous {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 30px;
      .famous_bundle {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
    }
  }
}
<<<<<<< HEAD
=======

>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
@media screen and (min-width: 960px) {
  .Main {
    //width: 100%;
    //width: 100%;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 0;
<<<<<<< HEAD
    .divMain {
      //margin: 0 auto;

      width: 100%;
=======

    .divMain{
      
      //margin: 0 auto;
      
      width: 100%;
      
>>>>>>> 7d2d35815190b92c22551149aa0028842c2120c6
    }
    .famous_text {
      font-family: "yg-jalnan";
    }
    .famous {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 30px;
      .famous_bundle {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
    }
  }
}
