<<<<<<< HEAD
// .sale-more{
//     // width: 80%;
//     // text-align: center;
// }
=======
.sale-more{
    width: 960px;
    text-align: center;
    margin: 0 auto;

    h3{
        font-family: 'yg-jalnan';
        color: #365367;
    }

    .item {
        position: relative;
    }

    h3 {
        color: #365367;
        font-family: "yg-jalnan";
        // margin: 5px 0;
    }

    div {
        font-family: "yg-jalnan";
    }

    img {
        width: 100%;
        height: 100%;
        position: inherit;
    }

    .products {
        width: 90%;
        margin: 5px auto;
        text-align: left;
        // display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-back {
        background-color: rgba(0, 0, 0, 0.342);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        // display: none;
        color: white;
        p {
            font-family: "NanumSquareRound";
            // vertical-align: text-bottom;
        }
    }

    @media screen and (max-width: 767px) {
        .item {
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 5px;
            // border: solid 1px;
            border-radius: 5%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (min-width: 768px) {

        .item {
            display: inline-block;
            width: 190px;
            height: 190px;
            margin: 5px 1.5%;
            border-radius: 5%;
            // border: solid 1px;
            overflow: hidden;
            align-items: center;
            justify-content: center;
        }
    }
}
>>>>>>> b253b4be84d74b99e54bc528668372fd6940a699
