@media screen and (min-width: 768px){
    .mypage{
        width: 80%;
        margin: 0 auto;
    }

}

.products-section{
    display: inline;
}

hr{
    height: 2px;
    border: thin solid #f494ab;
    background-color: #f494ab;
}
