.mypage {
    
    @media screen and (min-width: 768px) {
        width: 960px;
        height: 1000px;
        margin: 0 auto ;
        
        .products-section {
            width: 100%;
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        
        .products-section {
            width: 100%;
            // height: 1500px;
            // display: inline-block;
        }
    }


    hr {
        height: 2px;
        width: 100%;
        margin: 10px auto;
        border: thin solid #f494ab;
        background-color: #f494ab;
    }
}
