@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
  font-family: "moonspam", sans-serif;
  word-break: keep-all;
  margin: 0;
}

.items {
  width: 100%;
  margin-top: 10px;
}

.filter_items {
  @extend .items;
}

@mixin set-container($t_col) {
    display: grid;
    margin: 20px;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    justify-items: center; 
    grid-template-columns: $t_col;
}
.container {
  &_filter {
    @include set-container(repeat(7, 1fr))
    
  }
}

@media screen and (max-width: 767px) and (min-width: 501px) {
  .Main {
    margin: 10px;
    .items_container {
      @include set-container(repeat(3, 1fr))
    }
  }
}

@media screen and (max-width: 500px) {
  .Main {
    margin: 10px;
    .items_container {
        @include set-container(repeat(2, 1fr))
    }
  }
}

// https://nuli.navercorp.com/sharing/blog/post/1132728

@media screen and (min-width: 768px) {
  .Main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    .items_container {
      @include set-container(repeat(3, 1fr));
    }
  }
}
