@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.SearchResult_main {
  font-family: 'yg-jalnan';
  word-break: keep-all;
  margin: 0;
  min-height: 65vh;

  .category_text {
    margin-left: 12px;
    font-size: 12px;
    cursor: pointer;
  }

  .SearchResult_filter {
    margin-top: 10px;
    margin-bottom: 20px;
    .SearchResult_filter_container_img {
      position: absolute;
      vertical-align: -14px;
      width: 30px;
      height: 30px;
      padding: 5px;
      background: #f9f4e6;
      border-radius: 3px;
    }
    // min-width: 40px;
    .SearchResult_filter_container_img:hover {
      transition: 0.7s;
      transition-timing-function: ease-in-out;
      transform: scale(1.2);
    }
  }

  .SearchResult_items_header {
    // display: flex;
    // justify-content: center;
    scroll-behavior: smooth;
    text-align: left;
  }
}

.SearchResult_items {
  width: 100%;
  margin-top: 10px;
}

.SearchResult_filter_area {
  border-radius: 5%;
}

@mixin set-container() {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

//Mobile
@media screen and (max-width: 767px) {
  .SearchResult_main {
    display: block;

    .SearchResult_filter {
      margin-left: 10px;
      .SearchResult_filter_container_img {
        right: 10px;
      }
    }
    .SearchResult_items_container {
      @include set-container();
    }
    .SearchResult_items_header {
      // display: flex;
      // justify-content: center;
      //text-align: center;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 430px) {
  .SearchResult_filter_container_img {
    margin-top: 50px;
    right: 10px;
  }
}

//Web-1
@media screen and (min-width: 768px) and (max-width: 959px) {
  .SearchResult_main {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 0;

    .SearchResult_filter_container_img {
      right: calc(50% - 380px);
    }
    .SearchResult_items_container {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 24px;
      grid-auto-rows: minmax(100px, auto);
    }
    // .SearchResult_items_header {
    //   font-size: 22px;
    // }
  }
}

//Web-2
@media screen and (min-width: 960px) {
  .SearchResult_main {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 0;

    .SearchResult_filter_container_img {
      right: calc(50% - 480px);
    }

    .SearchResult_items_container {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 24px;
      grid-auto-rows: minmax(100px, auto);
    }
    // .SearchResult_items_header {
    //   font-size: 22px;
    // }
  }
}
