.user-profile {
    @media screen and (min-width: 768px) {
        width: 960px;
        margin: 0 auto;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    .profile {
        display: grid;
        grid-template-columns: [img] 28% [info] 40% [blank] 5% [attack] 27%;
        grid-gap: 0;
        grid-auto-rows: minmax(10px, auto);

        div {
            font-family: "yg-jalnan";
            margin: 0;
        }

        .profile-img {
            width: 80px;
            margin-top: 15px;
        }

        .profile-img-wrapper {
            text-align: center;
        }

        .info {
            margin-top: 40px;
        }

        .heart-img {
            width: 60px;
        }

        .attack {
            text-align: center;
            @media screen and (max-width: 767px){
                height: 90px;
                .ant-progress-inner, .ant-progress-circle-gradient{
                    margin: 0 auto;
                }
                .ant-progress-text{
                    position: absolute;
                    right:20px;
                    top: 140px;
                }
            }
        
            @media screen and (min-width: 768px){
                height: 110px;
                position: relative;
                .ant-progress-inner, .ant-progress-circle-gradient{
                    margin: 0 auto;
                }
                .ant-progress-text{
                    position: absolute;
                    right: 38%;
                    top: 45px;
                }
            }
        }
    }
    .tophr {
        height: 2px;
        width: 100%;
        margin: 10px auto;
        border: thin solid #f494ab;
        background-color: #f494ab;
    }

    .user-sale {
        text-align: center;
        margin: 0 auto;

        h3 {
            font-family: "yg-jalnan";
            color: #365367;
        }

        // width: 80%;

        .item {
            position: relative;
        }

        h2 {
            font-family: "NanumSquareRound";
        }

        h3 {
            color: #365367;
            font-family: "yg-jalnan";
            // margin: 5px 0;
        }

        div {
            font-family: "yg-jalnan";
        }

        img {
            width: 100%;
            height: 100%;
            position: inherit;
        }

        .products {
            width: 90%;
            margin: 5px auto;
            text-align: left;
            // display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-back {
            border-radius: 0 5% 0 0;
            background-color: rgba(228, 220, 208, 0.856);
            position: relative;
            top: 0;
            // display: none;
            color: white;
            p {
                font-family: "NanumSquareRound";
                // vertical-align: text-bottom;
            }
        }

        @media screen and (max-width: 767px) {
            .item {
                display: inline-block;
                width: 150px;
                height: 150px;
                margin: 5px;
                // border: solid 1px;
                border-radius: 5%;
                overflow: hidden;
                align-items: center;
                justify-content: center;
            }
        }

        @media screen and (min-width: 768px) {

            .item {
                display: inline-block;
                width: 190px;
                height: 190px;
                margin: 5px 1.5%;
                border-radius: 5%;
                // border: solid 1px;
                overflow: hidden;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
