.WriteUpdate {
  .before_bundle {
    border: 1px solid lightslategray;
    padding: 5px;
    margin-bottom: 5px;
    span{
      margin: 5px;
    }
    .div_before {
      display: inline-block;
      img {
        width: 100px;
        height: 100px;
        //border: 1px solid lightgray;
        margin-right: 10px;
        object-fit: scale-down;
      }
    }
  }
}
