@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.Write {
  * {
    font-family: "NanumSquareRound";
  }

  .write_input {
    width: calc(100% - 11px);
    height: 30px;
    padding-left: 10px;
    margin-top: 15px;
    border: 0.5px solid rgb(180, 180, 180);
  }

  .write_input:hover, .write_input:focus, .textarea:hover, .textarea:focus{
    //border: 1.5px solid #365367;
    box-shadow: 0 0 0 1.5px #365367 inset; 
  }

  .textarea {
    width: calc(100% - 11.5px);
    padding-top: 10px;
    padding-left: 10px;
    height: 300px;
    margin-top: 15px;
    border: 0.5px solid rgb(180, 180, 180);
  }

  .write_address {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background: #365367;
    border: none;
    color: #f9f4e6;
    font-weight: bolder;
  }

  .write_category {
    width: 35%;
    margin-left: 1.5%;
    height: 33px;
  }

  .filebox label {
    margin-top: 5px;
    margin-right: 15px;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #f9f4e6;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f49fab;
    border-radius: 0.25em;
    font-weight: bolder;
    cursor: pointer;
  }

  .filebox input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .write_filenum{
    display: inline-block;
    height: 40px;
    vertical-align: -5px;
  }
  
  .preview_div{
    display: inline-block;
  }

  .X{
    position: absolute;
    margin-top: 7px;
    margin-left: 128px;
    width: 15px;
    filter: invert(100%);
    display: inline-flex;
    cursor: pointer;
  }

  .image_preview{
    display: inline-flex;
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    margin-right: 10px;
    border : 1px solid black;
    margin-bottom: 5PX;
  }
}

@media screen and (max-width: 767px) {
  .Write {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .Write {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;

    .write_input, .textarea {
      width: calc(100% - 11px);
    }
  }
}

@media screen and (min-width: 960px) {
  .Write {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;

    .write_input, .textarea {
      width: calc(100% - 14px);
    }
  }
}
