@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .Gauge{
    .heart_title{
       position: absolute;
       //display: inline-block;
        font-family: "GmarketSansMedium";
        color: #f9f4e6;
        //text-align: left;
        margin-left: 16px;
        margin-top: 6px;
    }

    .heart_index{
        position: absolute;
        //display: inline-block;
        font-family: "GmarketSansMedium";
        color: #f9f4e6;
        //text-align: right;
        margin-left: 190px;
        margin-top: 6px;
    }

    .heart_img{
      position: absolute;
      width: 25px;
      height: 25px;
      margin-left:110px;
      margin-top: 2px;
    }

    .progress{
      position: absolute;
        width: 90%;
        margin-left: 15px;
        margin-top: calc(13%);
        //height: 30px;10
        //margin-top: 5px;
    }
  }