@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.Hamburger {
  text-align: left;
  #menu {
    position: absolute;
    width: 30px;
    top: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  #menu > span {
    display: block;
    width: 100%;
    height: 4px;
    background: #f494ab;
    margin: 2px 0;
    border-radius: 10px;
    transition: all 0.5s;
  }

  #menu > .on:nth-child(1) {
    transform: translateY(1px) rotate(225deg);
    transition-delay: 0.2s;
  }
  #menu > .on:nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
  }
  #menu > .on:nth-child(3) {
    transform: translateY(-11px) rotate(-225deg);
    transition-delay: 0.2s;
  }

  font-family: "NanumSquareRound";
  color: #365367;
  font-weight: bolder;

  .hambuger_box {
    text-align: center;
    background: #375368;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -300px;
    z-index: 1500;
    transform: translate(299px);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }

  .hambuger_profile {
    width: 100%;
    position: absolute;
    top: 20px;
  }

  .bnt_close {
    position: fixed;
    left: 260px;
    width: 30px;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  //내정보와 채팅부분이 들어가는 탭 + 내용 부분
  //스크롤 안보이게 해줌
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .hambuger_background {
    position: fixed;
    width: 95%;
    height: calc(100% - 195px);
    background: #f9f4e6;
    margin-left: 2.5%;
    top: 185px;
    overflow-y: auto;
  }

  .hambuger_tabbtn {
    width: 50%;
    position: absolute;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
  }

  .hambuger_alarm {
    margin-left: calc(50%);
  }

  .hambuger_tapcheck {
    background: #5d90b3;
    color: #f9f4e6;
  }

  //http://www.joshi.co.kr/index.php?mid=board_XbwP90&document_srl=442
  .hambuger_myinfo {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    position: absolute;

    .hambuger_gauge,
    .hambuger_zzim {
      width: 100%;
    }

    .hambuger_zzim {
      margin-top: 70px;
    }

    .hambuger_godetail {
      position: relative;
      text-align: left;
      margin-top: 90px;
      margin-left: 5px;
      margin-right: 5px;
      div{
        margin-left: 5px;
        margin-right: 5px;
        height: 1px;
        background: #42424233;
        border: none
      }
      p {
        margin-top: 20px;
        margin-left: 16px;
        width: 85px;
        margin-bottom: 20px;
        font-weight: bolder;
        cursor: pointer;
      }
      // border: 1px solid #375368;
    }
  }

  .hambuger_prealarm{
    margin-top: 50px;
    height: calc(100% - 40px);
    width: 100%;
    position: absolute;
    
    .pp1{
      position: absolute;
      text-align: left;
      left: 5%;
    }

    .ppp{
      color: #365367;
      position: absolute;
      text-align: right;
      right: 5%;
      margin-top: 2px;
      cursor: pointer;
    }

    .prealarm_bundle{
      margin-top: 40px;
    }
    
  }
}

@media screen and (max-width: 767px) {
  .Hamburger {
    #menu {
      top: 20px;
      left: 15px;
    }

    #menu > span {
      background: #f9f4e6;
    }

    //모바일 버전에서 햄버거 버튼 클릭시 화면의 다른 부분을 선택하면 꺼지게 하는 부분
    .hambuger_sub {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 1500;
      top: 0;
      
      //스르륵 나오게 하는 속성
      transform: perspective(100%);
      transition: 0.5s;
      transition-timing-function: ease-in-out;
    }

    .bnt_close {
      left: 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  // .Hamburger {
  // }
}

@media screen and (min-width: 960px) {
  .Hamburger {
    #menu {
      top: 33px;
    }

    //이부분 나중에 지우기
    #menu > span {
      background: black;
    }
  }
}
