@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.HamZzim {
  margin-top: 12px;

  .zzim_title,
  .zzim_plus,
  .zzim_price,
  .zzim_itemtitle {
    font-family: "NanumSquareRound";
    font-weight: bolder;
    color: #365367;
  }

  .zzim_title, .zzim_plus, .div_Zzim, .zzim_price{
    position: absolute;
  }
  .zzim_title {
    margin-left: 16px;
  }

  .zzim_plus {
    margin-left: 220px;
    cursor: pointer;
  }

  .div_Zzim {
    margin-top: 34px;
    width: calc(100% - 10px);
    height: 80px;
    text-align: center;
    margin-left: 7px;

    .zzim_item {
      width: calc(100% - 5px);
      cursor: pointer;

      .img_zzim {
        width: calc(100%);
        height: 130px;
        object-fit: cover;
        -webkit-user-drag: none;
      }

      .zzim_itemtitle {
        text-align: left;
        margin-left: 1px;
        width: 100%;
        height: 20px;
        color: #000;
        font-size: 13px;

        //글자 잘린 부분 ...으로 표시
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 1; //한 줄만 표시
        -webkit-box-orient: vertical;
      }

      .zzim_price {
        visibility: hidden;
      }
    }

    .zzim_item:hover {
      .img_zzim {
        opacity: 50%;
      }

      .zzim_price {
        visibility: visible;
        text-shadow: 0 0 1px #000;
        text-overflow: ellipsis;
        font-size: 20px;
        top: calc(50% - 30px);
        margin-left: 2px;
        width: 90%;

        //텍스트 드래그 막는 속성
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }
}
