@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.Main_Profile {
  text-align: center;

  .profile_infotext, .profile_logout, .profile_number, .profile_edit, .profile_name{
    position: absolute;
    font-family: "NanumSquareRound";
    color: #f9f4e6;
  }

  .profile_login, .profile_signup, .profile_edit, .profile_logout{
    cursor: pointer;
  }

  .profile_img {
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: fill;
    left: calc(50% - 30px);
    border-radius: 30px;
  }

  .profile_infotext{
    width: 100%;
    top: 38px;
    font-size: 18px;
  }

  .profile_login, .profile_signup{
    background: #f9f4e6;
    color: #375368;
    width: 50%;
    top: 95px;
    font-size: 20px;
    font-weight: bolder;
    left:25%;
    height: 35px;
    padding-top: 5px;
    border-radius: 3px;
  }

  .profile_signup {
    top: 155px;
    height: 36px;
    padding-top: 6px;
  }

  .profile_signup:hover, .profile_login:hover{
    color: #1c3242b0;
    background: #f9f4e6c4;
    border: 2px solid #1c3242; 
    //opacity: 90%;
  }

  .profile_name {
    font-family: "yg-jalnan";
    width: 100%;
    top: 70px;
    font-size: 20px;
  }

  .profile_number {
    width: 100%;
    top: 100px;
    font-size: 13px;
  }

  .profile_edit {
    top: 125px;
    right: calc(50% + 20px);
    font-size: 14px;
  }

  .profile_logout {
    top: 125px;
    left: calc(50% + 20px);
    font-size: 14px;
  }
}
