@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.Footer {
  * {
    font-family: "Noto Sans KR";
    text-align: center;
  }

  background-color: #365367;
  color: #f9f4e6d8;
  margin-top: 15px;
  flex-shrink: 0;
  height: 205px;

  .text_footer {
    font-size: 14px;
    padding-top: 20px;
  }

  .footer_logo{
    width: 100px;
    height: 40px;
  }
  .sns{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 767px) {
  // .Footer {
  // }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .Footer {
    .text_footer {
      max-width: 768px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 960px) {
  .Footer {
    .text_footer {
      max-width: 960px;
      margin: 0 auto;
    }
  }
}
