@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

*:focus {
  outline: none;
}

.Header{
  .Logo1 {
    display: none;
  }

  .Logo2 {
    vertical-align: -20%;
    width: 100px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
  }

  .input_search {
    padding-left: 5px;
    padding-right: 28px;
    margin-left: 7px;
    width: calc(100% - 60px);
    height: 25px;
    vertical-align: 120%;
    border: 2px solid white;
  }

  .btn_search {
    position: absolute;
    cursor: pointer;

    .img_search {
      width: 20px;
      object-fit: fill;
    }
  }

}

@media screen and (max-width: 767px) {
  .Header {
    background: #f494ab;
    text-align: center;

    .Logo1 {
      display: initial;
      margin-top: 5px;
      width: 100px;
      height: 50px;
      object-fit: cover;
      vertical-align: -20%;
    }

    .Logo2 {
      display: none;
    }

    .btn_search {
      right: 9px;
      vertical-align: 90%;
      width: 30px;
      height: 31px;
      background: #f9f4e6;
      border: 2px solid #f9f4e6;

      .img_search {
        padding-top: 1px;
        filter: invert(40%);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px)  {
  .Header {
    margin-top: 15px;

    .div {
      margin-top: 5px;
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    
    .Logo1 {
      display: none;
    }

    .Logo2 {
      vertical-align: -20%;
      width: 100px;
      height: 50px;
      object-fit: cover;
      display: inline-block;
    }

    .input_search {
      margin-left: 25px;
      padding-right: 5px;
      width: 370px;
      vertical-align: 17px;
      display: inline-block;
      border: 2px solid #f593ac;
    }

    .btn_search {
      left: calc(50% + 223px);
      top:24px;
      width: 30px;
      height: 30px;
      background: #f593ac;
      border: 2px solid #f593ac;

      .img_search {
        vertical-align: -10%;
        filter: invert(100%);
      }
    }
    
  }
}

@media screen and (min-width: 960px) {
  .Header {
    padding-top: 20px;

    .div {
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    .Logo1 {
      display: none;
    }

    .Logo2 {
      vertical-align: -30%;
      width: 120px;
      height: 60px;
      object-fit: cover;
      display: inline-block;
    }

    .input_search {
      margin-left: 25px;
      padding-left: 5px;
      width: 400px;
      height: 30px;
      vertical-align: 20px;
      display: inline-block;
      border: 2px solid #f593ac;
    }

    .btn_search {
      left: calc(50% + 255px);
      top : 31px;
      z-index: 10px;
      width: 35px;
      height: 35px;
      background: #f593ac;
      border: 2px solid #f593ac;

      .img_search {
        padding-top: 1px;
        vertical-align: -1px;
        filter: invert(100%);
      }
    }
  }
}
