@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
  font-family: "NanumBarunGothic", sans-serif;
  word-break: keep-all;
  margin: 0;
}

*:focus{
  outline: none;
}

@media screen and (max-width: 767px) {

  .Header {
    background: #F593AC;
    width: 100%;
    
    text-align: center;
    .Logo1 {
      margin-top: 5px;
      width: 100px;
      height: 50px;
      object-fit: cover;
      vertical-align: -20%;
    }

    .Logo2 {
      display: none;
    }

    .input_search {
      padding-left: 5px;
      padding-right: 32px;
      margin-left: 7px;
      width: calc(100% - 55px);
      height: 25px;
      vertical-align: 1200%;
      border: 2px solid #375368;
    }

    .input_search {
      padding-left: 5px;
      padding-right: 32px;
      margin-left: 7px;
      width: calc(100% - 60px);
      height: 25px;
      vertical-align: 120%;
      border: 2px solid #375368;
    }

    .btn_search {
      position: absolute;
      right: 6px;
        vertical-align: 90%;
        width: 30px;
        height: 31px;
        background: #375368;
        border: 2px solid #375368;
        padding : 0;

        .img_search2{
          display: none;
        }

        .img_search1{
          padding-top: 1px;
          width: 20px;
          object-fit: fill;
          filter: invert(100%);
        }
    }
    #menu {
      position: absolute;
      top: 20px;
      width: 30px;
      left: 10px;
      margin-left: 5px;
      background: transparent;
      border: none;
    }
    #menu > span {
      display: block;
      width: 100%;
      height: 4px;
      background: #000;
      margin: 2px 0;
      border-radius: 10px;
      transition: all 0.5s;
    }
  
    #menu > .on:nth-child(1) {
      transform: translateY(1px) rotate(225deg);
      transition-delay: 0.2s;
    }
    #menu > .on:nth-child(2) {
      opacity: 0;
      transform: translateX(50px);
    }
    #menu > .on:nth-child(3) {
      transform: translateY(-11px) rotate(-225deg);
      transition-delay: 0.2s;
    }

    .hambuger {
      background: #375368;
      width: 210px;
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0px;
      visibility: hidden;
    }
  
    .bnt_close{
      width: 30px;
      margin-top: 15px;
      margin-left: 170px;
      background: transparent;
      border: none;
    }
  }

}

@media screen and (min-width: 768px) {

  .Header {
    padding-top: 5px;
   
    .div {
      margin-top: 5px;
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    #menu {
      width: 30px;
      left: 10px;
      vertical-align: 75%;
      margin-left: -120px;
      margin-right: 85px;
      background: transparent;
      border: none;
    }
  
    #menu > span {
      display: block;
      width: 100%;
      height: 4px;
      background: #000;
      margin: 2px 0;
      border-radius: 10px;
      transition: all 0.5s;
    }
  
    #menu > .on:nth-child(1) {
      transform: translateY(1px) rotate(225deg);
      transition-delay: 0.2s;
    }
    #menu > .on:nth-child(2) {
      opacity: 0;
      transform: translateX(50px);
    }
    #menu > .on:nth-child(3) {
      transform: translateY(-11px) rotate(-225deg);
      transition-delay: 0.2s;
    }
    
    margin-top: 10px;
    .Logo1 {
      display: none;
    }

    .Logo2 {
      vertical-align: -20%;
      width: 100px;
      height: 50px;
      object-fit: cover;
      display: inline-block;
    }

    .input_search {
      margin-top: 0;
      margin-left: 25px;
      padding-left: 5px;
      width: 370px;
      height: 25px;
      vertical-align: 17px;
      display: inline-block;
      border: 2px solid #F593AC;
    }

    .btn_search {
        vertical-align: 14px;
        width: 30px;
        height: 31px;
        background: #F593AC;
        border: 2px solid #F593AC;
        padding: 0;

        .img_search1{
          display: none;
        }

        .img_search2{
          width: 20px;
          object-fit: fill;
          filter: invert(100%); 
        }
    }
  }

  .hambuger {
    background: #375368;
    width: 210px;
    height: 100%;
    position: absolute;
    top: 0px;
    position: fixed;
    z-index: 1;
    visibility: hidden;
  }

  .bnt_close{
    width: 30px;
    margin-top: 10px;
    margin-left: 175px;
    background: transparent;
    border: none;
  }
}
