.wapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.item{
    width: 70px;
    height: 70px;
    border: solid 1px;
    border-radius: 35px;
}