* {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .Nav {
    background: white;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    //position: fixed;
    //z-index: 1500;

    .category {

      .img_category1{display: none};
      .img_category {
        width: 80%;
        height: 45px;
        object-fit: fill;
        -webkit-user-drag: none;
      }

    }

    .category:hover{
      .img_category{display: none;}
      .img_category1{
        display: block;
        width: 80%;
        height: 45px;
        object-fit: fill;
        -webkit-user-drag: none;
      }

    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px)  {
  nav {
    margin-top: 10px;

    .div {
      text-align: center;
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
      //background: #f494ab;
    }

    .category {

      .img_category1{display: none};
      .img_category {
        width: 80%;
        height: 45px;
        object-fit: fill;
        -webkit-user-drag: none;
      }

    }

    .category:hover{
      .img_category{display: none;}
      .img_category1{
        display: block;
        width: 80%;
        height: 45px;
        object-fit: fill;
        -webkit-user-drag: none;
      }

    }
  }
}

@media screen and (min-width: 960px) {
  nav {
    margin-top: 15px;

    .div {
      text-align: center;
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
    }

    .category {

      .img_category1{display: none};
      .img_category {
        width: 80%;
        height: 55px;
        object-fit: fill;
        -webkit-user-drag: none;
      }

    }

    .category:hover{
      .img_category{display: none;}
      .img_category1{
        display: block;
        width: 80%;
        height: 55px;
        object-fit: fill;
        -webkit-user-drag: none;
      }

    }
  }
}
