.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.profile-img{
    width: 60px;
}
.heart-img {
    width: 80px;
}


