@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

/////////////////////////////////////////////////////////
//                                                     //
//                   여기 수정할 차례                   //
//                                                     //
/////////////////////////////////////////////////////////

@media screen and (max-width: 767px) {
    .slide-img {
        display: block;
        width: 95%;
        height: 300px;
        margin: 0;
        position: absolute;
        top: 187px;

        .div_carousel {
            height: 100%;
            .react-multi-carousel-track{
              height: 300px;
            }
            .div_ganji {
                height: 300px;
                text-align: center;

                //border: 1px solid lightgray;

                .ganji {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-user-drag: none;
                    background: black;
                }
            }
        }
    }
}

// https://nuli.navercorp.com/sharing/blog/post/1132728
@media screen and (min-width: 768px) and (max-width: 959px) {
    .slide-img {
        max-width: 960px;
        width: 80%;
        height: 600px;
        margin: 0;
        position: absolute;
        // top: 100px;

        .div_carousel {
            height: 100%;
            
            .div_ganji {
                height: 100%;
                text-align: center;
                //border: 1px solid lightgray;
                .ganji {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-user-drag: none;
                    background: black;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .slide-img {
        max-width: 960px;
        width: 624px;
        height: 620px;
        margin: 0;
        position: absolute;
        top: 184px;

        .div_carousel {
            height: 100%;
            .react-multi-carousel-track{
              height: 620px;
            }
            .div_ganji {
                height: 100%;
                text-align: center;
                //border: 1px solid lightgray;
                .ganji {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-user-drag: none;
                    background: black;
                }
            }
        }
    }
}
