  /////////////////////////////////////////////////////////
  //                                                     //
  //                   여기 수정할 차례                   //
  //                                                     //
  /////////////////////////////////////////////////////////

@media screen and (max-width: 767px) {

  .TopButton {
    width: 100%;
    position: relative;

    .img_button {
      width: 50px;
      height: 50px;
      z-index: 20;
      position: fixed;
      bottom: calc(6% + 70px);
      right: 40px;
      cursor: pointer;
    }

  }
}

@media screen and (min-width: 768px) and (max-width: 959px)  {
  .TopButton {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .img_button {
      width: 50px;
      height: 50px;
      z-index: 1000;
      position: fixed;
      bottom: calc(6% + 70px);
      right: calc(50% - 350px);
      cursor: pointer;
    }

  }
}

@media screen and (min-width: 960px) {
  .TopButton {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .img_button {
      width: 50px;
      height: 50px;
      z-index: 1000;
      position: fixed;
      bottom: calc(6% + 70px);
      right: calc(50% - 450px);
      cursor: pointer;
    }

  }
}
