.itemCard{
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;

    .item-info{
        padding: 7px;
        
        h4{
            font-family: 'yg-jalnan';
            color: #495169;
        }
    }

    hr{
        border: 0;
        background-color: rgba(185, 185, 185, 0.404);
        margin: 3px 0;
        height: 2px;
    }

    img{
        width: 100%;
        height: 100%;
        // position: inherit;
        z-index: -1;
    }

    .img-back{
        z-index: 1;
        border-radius: 0 5% 0 0;
        background-color: rgba(228, 220, 208, 0.856);
    }
    
    @media screen and (max-width: 767px){
        width: 150px;
        height: 150px;
        margin: 10px;
        // border: 1px solid black;
        border-radius: 5%;
        .item-info{
            h4{
                font-size: smaller;
                span{
                    color: gray;
                }
            }
    
        }
    }

    @media screen and (min-width: 768px){
        width: 190px;
        height: 190px;
        margin: 5px 1.5%;
        // border: 1px solid black;
        border-radius: 5%;
    }
}