@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

.profile{
    
    display: grid;
    grid-template-columns: [img] 28% [info] 40% [blank] 5% [attack] 27%;
    grid-gap: 0;
    grid-auto-rows: minmax(10px, auto);
    
    @media screen and (max-width: 767px){
        height: 90px;
        .ant-progress-inner, .ant-progress-circle-gradient{
            margin: 0 auto;
        }
        .ant-progress-text{
            position: absolute;
            right:20px;
            top: 140px;
        }
    }

    @media screen and (min-width: 768px){
        height: 110px;
        position: relative;
        .ant-progress-inner, .ant-progress-circle-gradient{
            margin: 0 auto;
        }
        .ant-progress-text{
            position: absolute;
            right: 10.5%;
            top: 45px;
        }
    }
    
    div{
        font-family: 'yg-jalnan';
    }

    .profile-img{
        width: 80px;
        height: 80px;
        margin-top: 15px;
        border-radius: 40px;
    }
    
    .profile-img-wrapper{
        text-align: center;
    }
    
    .info {
        margin-top: 10px;
        text-align: initial;
        h3{
            margin: 5px 0;
        }
        .btn-updateprofile{
            border: 0;
            background-color: #365367;
            color: white;
            border-radius: 5px;
            padding: 0.5em 1em;
            font-family: 'NanumSquareRound';
        }
    }
    
    
    .heart-img {
        width: 60px;
    }
    
    .attack{
        text-align: center;
        .HG-progress{
            margin: 0 auto;
        }
    }
}    


