.big{

  .my-login {
      width: 80%;
      margin: 170px auto;
      text-align: center;
      h1 {
        color: #365367;
        font-size: 66px;
        font-family: "yg-jalnan";
        margin: 0 0 10px 0;
      }

      h2 {
        color: #444444;
        font-family: "NanumSquareRound";
        margin: 0 auto;
      }

      h3 {
        color: #6b6b6b;
        font-family: "yg-jalnan";
        margin: 0 auto;
        span {
          color: #ffbaa2;
          font-family: "yg-jalnan";
        }
      }
      button {
          font-family: 'NanumSquareRound';
          border: none;
          border-radius: 4px;
          height: auto;
          width: 120px;
          // width: 46%;
          padding: .5em .5em;
          margin: 20px 5px;
          font-size: medium;
          background-color: #f494ab;
          color: white;
      }
    }
  
}